<!DOCTYPE html>
<html>
<head>
    <title>Get started</title>
    <link rel="stylesheet" type="text/css" href="\static\Getstarted.css">
</head>
<body>
    <div class="menu_bar">
       <h2 class="logo">...Web Phishing <span>detection...</span></h2>

       <ul>
           <li><a href="web detection.html">Home</a></li>
           <li><a href="About.html">About</a></li>
           <li><a href="Contact.html">Contact</a></li>
           <button><a href="web detection.html"</a>Get started</button>
       </ul>
    </div>



	<h1>Solution to Detect<br>
    Phishing Website</h1>

    <h4>Be aware of what's happening with you<br>
        confidential data</h4>
 <div class="btn">
    <button><a href="web detection.html"</a>Get started</button>
 </div>

 <h3>This website using for Solution phishing detection</h3>
 <img src="static/new.jpeg" alt="new" width="400" height="300" />
</body>
</html>