<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About detection</title>
    <link rel="stylesheet" type="text/css" href="\static\About.css">
</head>
<body>
    <div class="menu_bar">
        <h2 class="logo">...Web Phishing <span>detection...</span></h2>
 
        <ul>
            <li><a href="web detection.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="Contact.html">Contact</a></li>
           <button><a href="Getstarted.html">Get started</button>
        </ul>
     </div>


     <h1>
         ABOUT
     </h1>
<h4>Web service is one of the key communications software services for the Internet.<br>
   Web phishing is one of many security threats to web services on the Internet.<br>
   Web phishing aims to steal private information, 
   such as usernames, passwords, <br> credit card details,
   by way of impersonating a legitimate entity.

</h4>
<img src="static/detect.jpeg" alt="detect" width="380" height="300" />

<div class="content"> Recipient is then tricked into clicking a malicious link,
     which can lead to the installation of malware,
    the freezing of the system as part of a ransomware attack or
     the revealing of sensitive information.
    It will lead to information disclosure and property damage.</div>







</body>
</html>