<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="\static\Contact.css">
</head>
<body>
    <div class="menu_bar">
       <h2 class="logo">...Web Phishing <span>detection...</span></h2>

       <ul>
           <li><a href="web detection.html">Home</a></li>
           <li><a href="About.html">About</a></li>
           <li><a href="#">Contact</a></li>
       </ul>
    </div>

   <h1>Phishing Website Detection using Machine Learing</h1>

   <h3>Team ID:PNT2022TMID41066<br>
        Team size:4   <br>
        Team Leader: HARI PRATHAP .R 
        <br>
        Team Member: ARIVUSELVAM  .P 
        <br>
        Team Member: NANDHAKUMAR  .S 
        <br>
        Team Member: SANJAY .S 
        <br>

   </h3>




       
</body>
</html>