<!DOCTYPE html>
<html>
<head>
    <title>Web phishing detection</title>
    <link rel="stylesheet" type="text/css" href="\static\predict.css">
</head>
<body>
    <div class="menu_bar">
       <h2 class="logo">...Web Phishing <span>detection...</span></h2>

       <ul>
           <li><a href="web detection.html">Home</a></li>
           <li><a href="About.html">About</a></li>
           <li><a href="Contact.html">Contact</a></li>
       </ul>
    </div>

    <center style="margin: 50px">
        {% if xx %}
            <h2>{{xx[0]}}</h2>
            <br><br>
            <h2>{{xx[1]}}</h2>
        {% endif %}
    </center>

       
</body>
</html>